<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(assets/img/fondo.jpeg);">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown"><span>El mejor restaurante</span>  turistico de Junin</h2>
                <p class="animate__animated animate__fadeInUp">Bienvenido a nuestro RESTAURANTE TURISTICO CARPAPATA, un acogedor espacio ubicado en el mirador y punto central del Perú, donde podrás descubrir un ambiente selecto y cercano impregnado de la auténtica esencia natural.</p>
                <div>
                  <a href="#menu" class="btn-menu animate__animated animate__fadeInUp scrollto">Nuestro Menu</a>
                  <a href="#events" class="btn-book animate__animated animate__fadeInUp scrollto">Lugares Turisticos</a>
                </div>
              </div>
            </div>
          </div>

          

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/about.jpg");'>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>La mejor experiencia culinaria la encuentras aqui <strong> restaurante Carpapata</strong></h3>
              <p>
                Nuestro restaurante es un claro homenaje a la naturaleza. Es por ello que implementamos ambientes exclusivos para que puedas disfrutar de una vista impresionante mientras saborees nuestros platos.
              </p>
              <p class="fst-italic">
                Todo esto y mucho más te está esperando en CARPAPATA, una experiencia inolvidable que desearas repetir…
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i> Cumplimos con todos los requisitos para cuidar tu SALUD</li>
                <li><i class="bx bx-check-double"></i> Tenemos la mejor comida del sector</li>
                <li><i class="bx bx-check-double"></i> Un lugar calido, hogareño, te sentiras como en casa</li>
              </ul>
          
            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Whu Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title">
          <h2>La razon por el cual buscan<span>Nuestro Restaurante</span></h2>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>Calidad</h4>
              <p>Come rico sin preocuparte de nada</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Confianza</h4>
              <p>te sientes como en casat</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4> Delicioso</h4>
              <p>Los mas ricos potajes solo los probarás acá</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Whu Us Section -->

    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container">

        <div class="section-title">
          <h2>Mire nuestro <span>Menu</span></h2>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">Todos los Platos</li>
              <li data-filter=".filter-starters">Entradas</li>
              <li data-filter=".filter-salads">Menu</li>
              <li data-filter=".filter-specialty">Especialidad</li>
              <li data-filter=".filter-bebidas">Bebidas</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container">

          <div class="col-lg-6 menu-item filter-starters">
            <div class="menu-content">
              <a href="#">CAUSA</a><span></span>
            </div>
            <div class="menu-ingredients">
              Papa amarilla + huevo cocido + aceitunas + relleno de pollo/atún 
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">TRUCHA FRITA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">PACHAMANCA </a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">CUY PICANTE </a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <div class="menu-content">
              <a href="#">OCOPA</a><span></span>
            </div>
            <div class="menu-ingredients">
              Lechuga + salsa de huacatay + papa + huevo cocido + aceitunas 
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <div class="menu-content">
              <a href="#">ADOBO DE CHANCHO</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-salads">
            <div class="menu-content">
              <a href="#">ARROZ CON POLLO</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">CHANCHO AL PALO</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">CALDO DE GALLINA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-starters">
            <div class="menu-content">
              <a href="#">HUANCAINA</a><span></span>
            </div>
            <div class="menu-ingredients">
              Lechuga + salsa de ají + papa + huevo cocido + aceitunas 
            </div>
          </div>

           <div class="col-lg-6 menu-item filter-starters">
            <div class="menu-content">
              <a href="#">ENSALADA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-starters">
            <div class="menu-content">
              <a href="#">SOPA DE CASA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <div class="menu-content">
              <a href="#">TALLARINES ROJOS</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-salads">
            <div class="menu-content">
              <a href="#">POLLO AL MANI</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-salads">
            <div class="menu-content">
              <a href="#">ESTADO DE POLLO/RES/CORDERO</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-salads">
            <div class="menu-content">
              <a href="#">SECO DE POLLO/RES/CORDERO</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-salads">
            <div class="menu-content">
              <a href="#">ESCABECHE DE POLLO</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">LOMO SALTADO</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>


          <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">SALTADO DE POLLO</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">ARROZ CHAUFA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
           
           <div class="col-lg-6 menu-item filter-specialty">
            <div class="menu-content">
              <a href="#">CAJA CHINA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>

          <div class="col-lg-6 menu-item filter-bebidas">
            <div class="menu-content">
              <a href="#">GASEOSAS</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-bebidas">
            <div class="menu-content">
              <a href="#">CERVEZAS</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-bebidas">
            <div class="menu-content">
              <a href="#">CHICHA DE JORA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>
          </div>
          <div class="col-lg-6 menu-item filter-bebidas">
            <div class="menu-content">
              <a href="#">CHICHA MORADA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>          
          </div>
          <div class="col-lg-6 menu-item filter-bebidas">
            <div class="menu-content">
              <a href="#">LIMONADA</a><span></span>
            </div>
            <div class="menu-ingredients">
            </div>          
          </div>

        </div>

      </div>
    </section><!-- End Menu Section -->

    <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2>Detalle de nuestras <span>Especialidades</span></h2>
          <p>Aqui podrá observar los detalles de nuestros exquisitos platos</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">TRUCHA FRITA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">PACHAMANCA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">CUY PICANTE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">LOMO SALTADO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">SALTADO DE POLLO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">ARROZ CHAUFA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-7">CAJA CHINA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-8">CHANCHO AL PALO</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-9">CALDO DE GALLINA</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>TRUCHA FRITA</h3>
                    <p class="fst-italic">Trucha frita entera, acompañado de papas sancochadas, choclo entero y ensalada criolla.</p>
                   
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/trucha_frita.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>PACHAMANCA</h3>
                    <p class="fst-italic">Deliciosa y típica Pachamanca, carnes de res, cerdo, pollo y cuy previamente aderezados, papas, habas, humitas dulces preparadas en cocción al calor de piedras pre-calentadas, acompañado con salsa de ají y ensalada criolla.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/PACHAMANCA.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>CUY PICANTE</h3>
                    <p class="fst-italic">Cuy Entero bañado en crema de ají especial, acompañado de papas sancochadas, choclo entero y ensalada criolla.</p>
                    
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/CUY_PICANTE.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>LOMO SALTADO</h3>
                    <p class="fst-italic">Exquisito Lomo Saltado, preparado con trozos de carne, papas fritas, cebolla y tomate salteado en salsa de sillao.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/lomo_saltado.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>SALTADO DE POLLO</h3>
                    <p class="fst-italic">Exquisito Saltado de Pollo, preparado con trozos de pollo, papas fritas, cebolla y tomate salteado en salsa de sillao.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/SALTADO_DE_POLLO.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>ARROZ CHAUFA</h3>
                    <p class="fst-italic">Clásico arroz chaufa preparado con trozos de carnes pollo/carne/chancho, huevo frito, cebolla china combinado en salsa de sillao.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/ARROZ_CHAUFA.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-7">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>CAJA CHINA</h3>
                    <p class="fst-italic">Chancho o Carnero preparada en caja china, acompañado con papas sancochadas, choclo entero y ensalada criolla.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/CAJA_CHINA_1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-8">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>CHANCHO AL PALO</h3>
                    <p class="fst-italic">Chancho preparado en carbón al palo, acompañado con papas sancochadas, choclo entero y ensalada criolla</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/CHANCHO_AL_PALO.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-9">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>CALDO DE GALLINA</h3>
                    <p class="fst-italic">Exquisito Caldo clásico peruano, preparado con carne de gallina, fideos, papa amarilla, kion, acompañado con huevo cocido, cebolla china, cancha serrana, limón y sal al gusto.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/CALDO_GALLINA.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->

<section id="events" class="events">
      <div class="container">

        <div class="section-title">
          <h2>LUGARES <span>TURISTICOS</span> CERCA A NUESTRO RESTAURANTE</h2>
        </div>
<br>
        <div class="row event-item">
          <div class="col-lg-6">
            <img src="assets/img/gallery/MIRADOR_CARPAPATA.jpg" class="img-fluid" alt="">
          </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>MIRADOR DE CARPAPATA</h3>
          <div class="price">
            <p><span></span></p>
          </div>
          <p class="fst-italic">
            En el 2002 fue declarado por el instituto geográfico como el punto central del Perú, este mirador cuenta con una vista impresionante de todo el valle, en Carpapata se da el cambio climático de sierra-selva
          </p>
         
        </div>
        </div>
<br>
        <div class="row event-item">
          <div class="col-lg-6">
            <img src="assets/img/gallery/rio.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>ACCESO AL RIO</h3>
            <div class="price">
              <p><span></span></p>
            </div>
            <p class="fst-italic">
           Disfruta de una caminata rodeado de naturaleza y accede al rio a menos de 1 km, disfruta de las aguas cálidas y cristalinas
            </p>
           
          </div>
        </div>
<br>
        <div class="row event-item">
          <div class="col-lg-6">
            <img src="assets/img/gallery/rio.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>INSTALACION DE MINA</h3>
            <div class="price">
              <p><span></span></p>
            </div>
            <p class="fst-italic">
           Antiguo campamento de extracción de oro fundada en el año 1910, un lugar mágico lleno de historia… construido a base de arena piedra y cal, indestructible
            </p>
           
          </div>
        </div>
<br>
        <div class="row event-item">
          <div class="col-lg-6">
            <img src="assets/img/gallery/rio.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>CAMINOS DEL INCA</h3>
            <div class="price">
              <p><span></span></p>
            </div>
            <p class="fst-italic">
           Olvida el cansancio… este camino es completamente plano cuenta la historia de que antiguamente por ahí se transportaban los INCAS.
            </p>
           
          </div>
        </div>
<br>
         <div class="row event-item">
          <div class="col-lg-6">
            <img src="assets/img/gallery/rio.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>OBSERVATORIO ASTRONOMICO Y TERRESTRE</h3>
            <div class="price">
              <p><span></span></p>
            </div>
            <p class="fst-italic">
           Ven y vive una experiencia única en nuestro mirador astronómico y terrestre, contamos con telescopios para día y noche.
En Carpapata los  cielos son despejados, por ello podrás gozar de una vista única e inolvidable, podrás registrar objetos, aves, valles, planetas, constelaciones, estrellas, etc.

            </p>
           
          </div>
        </div>

        <div class="events-slider swiper-container">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              
            </div><!-- End testimonial item -->


           

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->

   
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Algunas fotos  <span>de nuestro restaurante</span></h2>
          <p>Ven y captura momentos eternos con nosotros</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/abastecimiento.jpeg" class="gallery-lightbox">
                <img src="assets/img/gallery/abastecimiento.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

       
          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/mirador.jpeg" class="gallery-lightbox">
                <img src="assets/img/gallery/mirador.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/mesa_mirador.jpeg" class="gallery-lightbox">
                <img src="assets/img/gallery/mesa_mirador.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/mesas.jpeg" class="gallery-lightbox">
                <img src="assets/img/gallery/mesas.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/mirador_1.jpeg" class="gallery-lightbox">
                <img src="assets/img/gallery/mirador_1.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/restaurante_interno.jpeg" class="gallery-lightbox">
                <img src="assets/img/gallery/restaurante_interno.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>

             <div class="col-lg-3 col-md-4">
            <div class="gallery-item">
              <a href="assets/img/gallery/empleados.jpeg" class="gallery-lightbox">
                <img src="assets/img/gallery/empleados.jpeg" alt="" class="img-fluid">
              </a>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Chefs Section ======= -->
    <section id="chefs" class="chefs">
      <div class="container">

        <div class="section-title">
          <h2>Protocolos de salud de <span>nuestro restaurante</span></h2>
          <p>En Restaurante Turístico Carpapata respetamos y seguimos a pie los protocolos dispuestos por el MINSA para poder evitar el contagio y propagación del Covid-19 en nuestros empleados y clientes, brindando así seguridad y bienestar.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="member-info">
                <h4>Asepsia</h4>
              </div>
              <span>Todos los colaboradores pasan por una evaluación y protocolo de prevención diario, antes de ingresar a laborar, tales como la temperatura, limpieza desinfección de ropa y artículos, limpieza de la plantilla de los zapatos y lavados de manos.</span>
            </div>
          </div>

         <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="member-info">
                <h4>Nos ceñimos a las normas legales de sanidad</h4>
              </div>
              <span>Todo el personal cuenta con su carnet de sanidad y además cuenta con su uniforme de trabajo especializado para pueda cuidar la inocuidad de los alimentos.</span>
            </div>
          </div>

       <div class="col-lg-4 col-md-6">
            <div class="member">
              <div class="member-info">
                <h4>Doble Seguridad</h4>
              </div>
              <span>Cuando se recepcionan los insumos o cualquier artículo, esta es nuevamente desinfectada y manipulada por el personal capacitado.</span>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Chefs Section -->

     

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2><span>Nos encontramos aqui</span></h2>
          <p>Perú - Junin - Carpapata</p>
        </div>
      </div>

      <div class="map">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4653.329451426192!2d-75.55656995890723!3d-11.263758537223241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1624551216328!5m2!1ses-419!2spe" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container mt-5">

        <div class="info-wrap">
          <div class="row">
            <div class="col-lg-3 col-md-6 info">
              <i class="bi bi-geo-alt"></i>
              <h4>Ubicacion:</h4>
              <p>Carpapata<br>Avenida Castillo 211</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-clock"></i>
              <h4>Atendemos:</h4>
              <p>Lunes-Sabado:<br>07:00 AM - 23:00 PM</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com<br>contact@example.com</p>
            </div>

            <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
              <i class="bi bi-phone"></i>
              <h4>LLamanos:</h4>
              <p>+51 946 125 567 </p>
            </div>
          </div>
        </div>        
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
