<section id="topbar" class="d-flex align-items-center fixed-top topbar-transparent">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-center justify-content-lg-start">
      <a class="bi bi-phone d-flex align-items-center" href="https://wa.link/4z9j2l" target="_blank"><span>+51 946 125 567 </span></a>
      <a class="bi bi-clock ms-4 d-none d-lg-flex align-items-center"><span>Mon-Sat: 07:00 AM - 10:00 PM</span></a>
    </div>
  </section>

<app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>